
<div>
  <canvas #canvas></canvas>

  <div class="name-heading"
      *ngIf="triangle"
      [ngStyle]="getNameStyle()">
    Marshall Lanning
  </div>

  <!-- Profile Image -->
  <img *ngIf="circle"
      src="assets/profile.jpg"
      class="profile-img"
      [ngStyle]="{
        top: (circle.y - circle.radius) + 'px',
        left: (circle.x - circle.radius) + 'px',
        width: (circle.radius * 2) + 'px',
        height: (circle.radius * 2) + 'px'
      }"
  />

  <!-- Triangle Shape Overlay -->
  <img *ngIf="triangle"
      src="assets/background.jpg"
      class="triangle-img"
      [ngStyle]="{
        top: triangle.y + 'px',
        left: triangle.x + 'px',
        width: triangle.width + 'px',
        height: triangle.height + 'px',
        clipPath: 'polygon(50% 0%, 0% 100%, 100% 100%)'
      }"
  />

  <!-- Rectangle Bar Overlay -->
  <div *ngIf="rectangle"
      class="rectangle"
      [ngStyle]="{
        top: rectangle.y + 'px',
        left: rectangle.x + 'px',
        width: rectangle.width + 'px',
        height: rectangle.height + 'px'
      }">
  </div>

  <!-- Icons Overlay -->
  <ng-container *ngIf="rectangle">
    <a *ngFor="let icon of icons; index as i"
      class="icon-link"
      [href]="icon.href"
      target="_blank"
      [ngStyle]="getIconStyle(i)">
      <img [src]="icon.src" class="icon white-icon" />
    </a>
  </ng-container>

</div>