<canvas #canvas></canvas>
<div class="scroll-container">

  <section class="hero-section">

    <!-- Triangle Background Image -->
    <img *ngIf="triangle"
        src="assets/background.jpg"
        class="triangle-img"
        [ngStyle]="{
          top: triangle.y + 'px',
          left: triangle.x + 'px',
          width: triangle.width + 'px',
          height: triangle.height + 'px',
          clipPath: 'polygon(50% 0%, 0% 100%, 100% 100%)'
        }"
    />

    <!-- Profile Image (Circle Body) -->
    <img *ngIf="circle"
        src="assets/profile.jpg"
        class="profile-img"
        [ngStyle]="{
          top: (circle.y - circle.radius) + 'px',
          left: (circle.x - circle.radius) + 'px',
          width: (circle.radius * 2) + 'px',
          height: (circle.radius * 2) + 'px'
        }"
    />

    <!-- Rectangle Bar Image -->
    <img *ngIf="rectangle"
        src="assets/bar.png"
        class="rectangle-img"
        [ngStyle]="{
          top: rectangle.y + 'px',
          left: rectangle.x + 'px',
          width: rectangle.width + 'px',
          height: rectangle.height + 'px'
        }"
    />

    <!-- Social Icons -->
    <ng-container *ngIf="rectangle">
      <a *ngFor="let icon of icons; index as i"
        class="icon-link"
        [href]="icon.href"
        target="_blank"
        [ngStyle]="getIconStyle(i)">
        <img [src]="icon.src" class="icon white-icon" />
      </a>
    </ng-container>

    <!-- Name and Subheading -->
    <div class="name-heading" *ngIf="triangle" [ngStyle]="getNameStyle()">
      Marshall Lanning
    </div>

    <div class="name-subheading" *ngIf="triangle" [ngStyle]="getSubNameStyle()">
      MENG · MBA
    </div>
  </section>

  <!-- About Section -->
  <section class="about-section" id="about">
    <div #aboutContent class="about-content">
      <h2>About Me</h2>
      <p>
        I’m a software engineer and musician passionate about blending creativity and code.
        I build clean, interactive web experiences and love exploring the intersection of design and logic.
      </p>
    </div>
  </section>
</div>